.posts-sec {
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  margin: 0 30px 0 0;
  /*border: thin solid black;*/
  padding: 30px;
}

.post {
  padding: 0 0 50px 0;
  border-bottom: thick solid lightgrey;
}

.post figure:first-of-type figcaption {
  color: lightgray;
}

.post figure:first-of-type figcaption a {
  color: lightgray;
}

.post-header {
  height: 400px;
  width: 600px;
  border-radius: 20px;
}

.post h1 {
  margin: 30px 0 10px 0;
  font-size: 28px;
  color: #3c9ec2;
}

.post-info {
  color: #192a39;
  font-size: 15px;
  padding: 0 0 20px 0;
}

.post-info span {
  color: #3c9ec2;
  text-decoration: underline;
}

.content {
  width: 600px;
}

.cont-read {
  margin: 20px 0 0 0;
}

.btn {
  border: solid #f89827;
  border-radius: 25px;
  width: 170px;
  height: 40px;
  font-size: 15px;
  text-transform: capitalize;
  font-style: oblique;
  font-weight: 500;
  cursor: pointer;
  font-family: "Carter One", sans-serif;
  background-color: white;
}

.btn a {
  color: #192a39;
}
.post-2 {
  margin: 60px 0 0 0;
}

.link-to-posts {
  text-align: center;
  margin: 40px 0px 0 0px;
  font-style: italic;
}

.link-to-posts a {
  color: #192a39;
}

.newer {
  margin-left: 40px;
}
